.modal-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.modal-body{
    background-color: black;
    height: 70rem;
    text-align: center;
    padding: 0%;
}

.modal-image{
    height: 25rem;
}

h1{
    font-size: 7rem;
    font-weight: bold;
    margin-top: -30%;
}

.header{
    max-width:100%;
    max-height:100%;;
}

.modal-content{
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}