.bottom {
	width: 100%
}

.bottom-image {
	width: 110%;
	height: 250px;
}

.main-logo {
	width: 200px;
}

.social-logo  {
	height: 30px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-logos, .social-logos {
	display: flex;
	align-items: center;
}

.main-logos {
	margin: 30px 0;
}

.codegolf-logo{
	margin: 0 30px;
}

.social-logo {
	margin-right: 10px;
}

.made-by-csivit img {
	height: 20px;
	position: absolute;
	right: 10px;
	bottom: 0;
}