@font-face {
	font-family: "HACKED";
	src: local("HACKED"), url("./assets/HACKED/HACKED.ttf") format("truetype");
  }

  @font-face {
	font-family: "Pixel";
	src: local("Pixel"), url("./assets/PixelOperator.ttf") format("truetype");
  }


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 62.5%;	
}

body {
	min-height: 100vh;
	max-width: 100vw;
	background-color: black;
	color: white;
	overflow-x: hidden;
	font-family: 'Pixel',sans-serif;
	font-weight: bolder;
}

a {
	text-decoration: none;
	color: white;
}

#root{
	height: 100vh;
	width: 100%;
}

.App{
	height: 100vh;
	width: 100%;
}