html {
  font-family: HACKED;
  color: white;
}

@font-face {
  font-family: "HACKED";
  src: local("HACKED"), url("../../assets/HACKED/HACKED.ttf") format("truetype");
}

body {
  background: url("../../assets/HomePage/background.png") no-repeat center fixed;
  background-size: cover;
  background-color: black;
}

.home-title {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
}

.CG {
  font-size: 18.75rem;
  margin: 0;
}

.home-heading {
  margin-top: -15%;
  margin-left: -10%;
  font-size: 8.188rem;
}

.home-button {
  margin-top: 10%;
  font-size: 2.5rem;
}

@media only screen and (max-width: 62.5rem) {
  .home-title {
    left: 45%;
  }
  .home-heading {
    margin-left: 5%;
  }
  .CG {
    font-size: 15rem;
  }
  .home-heading {
    font-size: 5rem;
  }
  .home-button {
    font-size: 2rem;
  }
}
